body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/background.png');

    color: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.header, .footer {
    width: 100vw;
    background-color: #001D26;

    display: flex;
    align-items: center;
}

.header > a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 10vh;
    flex-direction: row-reverse;
}

.logo {
    position: absolute;
    top: 0;
    width: 140px;
    height: 135px;
    margin: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 90%;
}

ul {
    margin-left: 140px;
}

li, li > a {
    margin: 8px;
    text-decoration: none;
    color: #58595B;
    font-style: italic;
    list-style-type: none;
}


.presentation {
    position: fixed;
    left: 14vw;
    width: 70%;
    margin: auto;
    margin-top: 30px;

    background-color: #001D26;
    padding: 30px;
    display: flex;
    text-align: justify;

}

.profil_picture { 
    height: 150px;
}

.pilates_picture {
    width: 25%;
    height: auto;
    margin: 5px;
}

.presentation > .description {
    margin: 20px;
}

.pilates {
    position: fixed;
    bottom: 10%;
    width: 100%;
    margin-top: 20px;

    background-color: #001D26;
    padding: 20px;
    text-align: justify;

}

.pilates > .description {
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

.footer {
    position: absolute;
    height: 8vh;
    bottom: 0px;

    justify-content: center;
}

@media screen and (max-width: 700px) {

    body {
        font-size: 12px;
    }

    .header {
        height: 6vh;
    }

    .logo {
        width: 67px;
        height: 66px;
    }

    ul {
        margin-left: 60px;
    }
    li, li > a {
        margin: 2px;
        padding: 0;
    }

    .presentation {
        left: 5vw;
        width: 90%;
        height: auto;
        margin-top: 40px;
        padding: 15px;
        padding-bottom: 0;
    }

    .presentation > .description {
        margin-top: 0;
    }

    .profil_picture { 
        height: 110px;
    }
    
    .description {
        margin: 0;
        margin-left: 10px;
        font-size: 11px;
        max-height: 125px;
    }

    .presentation > .description > p {
        max-height: 90px;
        overflow: scroll;
    }

    .pilates_picture:first-child, .pilates_picture:last-child {
        display: none;
    }

    .pilates_picture {
        width: 50%;
        height: auto;
        margin: 5px;
    }

    .pilates > .description > p {
        max-height: 120px;
        overflow: scroll;
    }

}