body {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/background.png');

    color: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.header, .footer {
    width: 100vw;
    background-color: #001D26;

    display: flex;
    align-items: center;
}

.header > a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 10vh;

    flex-direction: row-reverse;
}

.logo {
    position: absolute;
    top: 0;
    width: 140px;
    height: 135px;
    margin: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 90%;
}

ul {
    margin-left: 140px;
}

li, li > a {
    margin: 8px;
    text-decoration: none;
    color: #58595B;
    font-style: italic;
    list-style-type: none;
}

.footer {
    position: fixed;
    height: 8vh;
    bottom: 0px;

    justify-content: center;
}

@media screen and (max-width: 700px) {

    body {
        font-size: 12px;
    }

    .header {
        height: 6vh;
    }

    .logo {
        width: 67px;
        height: 66px;
    }

    ul {
        margin-left: 60px;
    }
    li, li > a {
        margin: 2px;
        padding: 0;
    }
}